Dataset/*
Dataset/D1_100Hz/Test/BCICIV_eval_ds1a.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1b.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1c.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1d.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1e.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1f.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1g.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1a.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1b.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1c.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1d.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1e.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1f.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1g.mat

Dataset/D1_100Hz/__pycache__/support_function.cpython-38.pyc

Dataset/D1_100Hz/Unlabel trails/BCICIV_eval_ds1a.mat

Dataset/D1_100Hz/Unlabel trails/BCICIV_eval_ds1b.mat

Dataset/D1_100Hz/Unlabel trails/BCICIV_eval_ds1c.mat

Dataset/D1_100Hz/Unlabel trails/BCICIV_eval_ds1d.mat

Dataset/D1_100Hz/Unlabel trails/BCICIV_eval_ds1e.mat

Dataset/D1_100Hz/Unlabel trails/BCICIV_eval_ds1f.mat

Dataset/D1_100Hz/Unlabel trails/BCICIV_eval_ds1g.mat

Dataset/D1_100Hz/v1/Train/BCICIV_calib_ds1a.mat

Dataset/D1_100Hz/v1/Train/BCICIV_calib_ds1b.mat

Dataset/D1_100Hz/v1/Train/BCICIV_calib_ds1c.mat

Dataset/D1_100Hz/v1/Train/BCICIV_calib_ds1d.mat

Dataset/D1_100Hz/v1/Train/BCICIV_calib_ds1e.mat

Dataset/D1_100Hz/v1/Train/BCICIV_calib_ds1f.mat

Dataset/D1_100Hz/v1/Train/BCICIV_calib_ds1g.mat

Dataset/D2/v1/Train/1_data.mat

Dataset/D2/v1/Train/1_label.mat

Dataset/D2/v1/Train/2_data.mat

Dataset/D2/v1/Train/2_label.mat

Dataset/D2/v1/Train/3_data.mat

Dataset/D2/v1/Train/3_label.mat

Dataset/D2/v1/Train/4_data.mat

Dataset/D2/v1/Train/4_label.mat

Dataset/D2/v1/Train/5_data.mat

Dataset/D2/v1/Train/5_label.mat

Dataset/D2/v1/Train/6_data.mat

Dataset/D2/v1/Train/6_label.mat

Dataset/D2/v1/Train/7_data.mat

Dataset/D2/v1/Train/7_label.mat

Dataset/D2/v1/Train/8_data.mat

Dataset/D2/v1/Train/8_label.mat

Dataset/D2/v1/Train/9_data.mat

Dataset/D2/v1/Train/9_label.mat

Dataset/D2/v1/Unlabel Trials/1_data.mat

Dataset/D2/v1/Unlabel Trials/1_label.mat

Dataset/D2/v1/Unlabel Trials/2_data.mat

Dataset/D2/v1/Unlabel Trials/2_label.mat

Dataset/D2/v1/Unlabel Trials/3_data.mat

Dataset/D2/v1/Unlabel Trials/3_label.mat

Dataset/D2/v1/Unlabel Trials/4_data.mat

Dataset/D2/v1/Unlabel Trials/4_label.mat

Dataset/D2/v1/Unlabel Trials/5_data.mat

Dataset/D2/v1/Unlabel Trials/5_label.mat

Dataset/D2/v1/Unlabel Trials/6_data.mat

Dataset/D2/v1/Unlabel Trials/6_label.mat

Dataset/D2/v1/Unlabel Trials/7_data.mat

Dataset/D2/v1/Unlabel Trials/7_label.mat

Dataset/D2/v1/Unlabel Trials/8_data.mat

Dataset/D2/v1/Unlabel Trials/8_label.mat

Dataset/D2/v1/Unlabel Trials/9_data.mat

Dataset/D2/v1/Unlabel Trials/9_label.mat

Dataset/D2/True Label/A01E.mat

Dataset/D2/True Label/A01T.mat

Dataset/D2/True Label/A02E.mat

Dataset/D2/True Label/A02T.mat

Dataset/D2/True Label/A03E.mat

Dataset/D2/True Label/A03T.mat

Dataset/D2/True Label/A04E.mat

Dataset/D2/True Label/A04T.mat

Dataset/D2/True Label/A05E.mat

Dataset/D2/True Label/A05T.mat

Dataset/D2/True Label/A06E.mat

Dataset/D2/True Label/A06T.mat

Dataset/D2/True Label/A07E.mat

Dataset/D2/True Label/A07T.mat

Dataset/D2/True Label/A08E.mat

Dataset/D2/True Label/A08T.mat

Dataset/D2/True Label/A09E.mat

Dataset/D2/True Label/A09T.mat

Dataset/D2/v1/Test/1_data.mat

Dataset/D2/v1/Test/1_label.mat

Dataset/D2/v1/Test/2_data.mat

Dataset/D2/v1/Test/2_label.mat

Dataset/D2/v1/Test/3_data.mat

Dataset/D2/v1/Test/3_label.mat

Dataset/D2/v1/Test/4_data.mat

Dataset/D2/v1/Test/4_label.mat

Dataset/D2/v1/Test/5_data.mat

Dataset/D2/v1/Test/5_label.mat

Dataset/D2/v1/Test/6_data.mat

Dataset/D2/v1/Test/6_label.mat

Dataset/D2/v1/Test/7_data.mat

Dataset/D2/v1/Test/7_label.mat

Dataset/D2/v1/Test/8_data.mat

Dataset/D2/v1/Test/8_label.mat

Dataset/D2/v1/Test/9_data.mat

Dataset/D2/v1/Test/9_label.mat

Dataset/D1_100Hz/True label/BCICIV_eval_ds1a_1000Hz_true_y.mat

Dataset/D1_100Hz/True label/BCICIV_eval_ds1b_1000Hz_true_y.mat

Dataset/D1_100Hz/True label/BCICIV_eval_ds1c_1000Hz_true_y.mat

Dataset/D1_100Hz/True label/BCICIV_eval_ds1d_1000Hz_true_y.mat

Dataset/D1_100Hz/True label/BCICIV_eval_ds1e_1000Hz_true_y.mat

Dataset/D1_100Hz/True label/BCICIV_eval_ds1f_1000Hz_true_y.mat

Dataset/D1_100Hz/True label/BCICIV_eval_ds1g_1000Hz_true_y.mat
*.pyc
*.pyc
*.pyc
*.pyc
