
Dataset/D1_100Hz/Test/BCICIV_eval_ds1a.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1b.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1c.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1d.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1e.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1f.mat
Dataset/D1_100Hz/Test/BCICIV_eval_ds1g.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1a.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1b.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1c.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1d.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1e.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1f.mat
Dataset/D1_100Hz/Train/BCICIV_calib_ds1g.mat
